{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": { 
          "node": "current",
          "browsers": ["last 2 versions", "ie >= 11"]
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread", "emotion", "lodash"]
}
